<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Movies&Comics</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Hind+Guntur" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet" type="text/css">
</head>
  <body>
  <div class="profile">
  <h1 class="user">Welcome <%= user.username %></h1>
    <a href=/profile>
      <input class="button" type="button" value="Profile"/>
    </a>
    <form action="/logout?_method=DELETE" method="post">
      <input class="button" type="submit" value="Logout">
    </form>
  </div>
  </br>
  <form action="/main" method="get">
    <input class="search" type="text" name="mpfour" placeholder="Search Movies">
    <input class="search-button" type="submit" value="Search">
  </form>
<!--   <select id="dropdown">
    <option value="movie">movie</option>
    <option value="tv">tv</option>
  </select> -->
  <div class="main">
    <div class="movie-container">
    <div class="movie-card">
      <h1 class="heading">Movie</h1>
        <% if (comic.results.length) { %>
          <h1 class="movie-title"><%= movie.title %></h1>
          <img class="movie-pic" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2<%= movie.poster_path %>" >
          <p class="movie-desc"><%= movie.overview %></p>
        <% }; %>
    </div>
    </div>
    <div class="comic-container">
      <h1 class="heading">Comics</h1>
      </br>
      <div class="card">
      <% if (comic.results.length) { %>
        <% for (let i = 0; i < comic.results.length; i++) { %>
          <h1 class="comic-title"><%= comic.results[i].title %></h1>
          <img class="comic-pic" src="<%= comic.results[i].thumbnail.path %>.<%= comic.results[i].thumbnail.extension %>" alt="">
          <p comic="comic-desc"><%= comic.results[i].description %></p>
            <form action="/main/added" method="post">
              <input type="hidden" name="saved[title]" value="<%= comic.results[i].title %>" >
              <input type="hidden" name="saved[thumbnail]" value="<%= comic.results[i].thumbnail.path %>.<%= comic.results[i].thumbnail.extension %>" >
              <input type="hidden" name="saved[notes]" value="">
              <input class="button" type="submit" value="Save">
            </form>
          <% }; %>
        <% }; %>
      </div>
      </br>
    </div>
  </div>
  </body>
</html>
